{% extends 'FrontEndBundle:Base:base.html.twig' %}

{% block body %}
    <div id="app"></div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bower_components/materialize/dist/js/materialize.min.js') }}"></script>
    <script src="{{ asset('dist/client.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('css/booking.css') }}">
    <link rel="stylesheet" href="{{ asset('css/booking.css') }}">

{% endblock %}
